<footer class="ftr element">
    <div class="container">
        <div class="ftr-wrapper">
            <a href="index.html" class="ftr-link__logo">Ivan Labza</a>
            <address class="ftr-addres">
                <a href="tel:+48889787471" class="ftr-link__tel">+48889787471</a>
                <a href="mailto:vanalabza77@gmail.com" class="ftr-link-mail">vanalabza77@gmail.com</a>
            </address>
            <ul class="ftr-list">
                <li class="ftr-list-element">
                    <a href="https://github.com/IvanLabza" target="_blank">
                        <svg class="ftr-list-svg">
                            <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                        </svg>
                    </a>
                </li>
                <li class="ftr-list-element">
                    <a href="https://twitter.com/LabzaIvan" target="_blank">
                        <svg class="ftr-list-svg">
                            <use href="/img/svg/social-svg.svg#ant-design_twitter-circle-filled-1"></use>
                        </svg>
                    </a>
                </li>
                <li class="ftr-list-element">
                    <a href="https://www.linkedin.com/in/labzaivan-87460825b/" target="_blank">
                        <svg class="ftr-list-svg">
                            <use href="/img/svg/social-svg.svg#entypo-social_linkedin-with-circle-1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
       
        <span class="ftr-span"></span>
        <nav class="ftr-nav">
            <ul class="ftr-nav__list">
                <li class="ftr-nav__item"><a href="index.html" class="ftr-nav-link">Home</a></li>
                <li class="ftr-nav__item"><a href="about.html" class="ftr-nav-link">About</a></li>
                <li class="ftr-nav__item"><a href="tech-task.html" class="ftr-nav-link">Technologies</a></li>
                <li class="ftr-nav__item"><a href="projects-task.html" class="ftr-nav-link">Projects</a></li>
                <li class="ftr-nav__item"><a href="contact.html" class="ftr-nav-link">Contact</a></li>
            </ul>
        </nav>

        <a href="https://www.figma.com/file/tlZLLsKlsTAER2SxjpcuWD/Developer-Portfolio-Design-(Community)?node-id=10%3A179&mode=dev" class="ftr-link-design">Designed and built by Pavan MG with <span>Love</span> & <span>Coffee</span></a>
    </div>
</footer>