<header class="header element">
  <div class="container">
    <nav class="flex-tel-wrapper">
      <a href="index.html" class="header-link">Ivan Labza</a>
      <svg class="header-tel-open js-open-menu" width="30" height="30">
        <use href="/img/svg/head-svg.svg#menu"></use>
      </svg>
      <div class="header-tel js-menu-container">
        <svg class="header-tel-close js-close-menu" width="30" height="30">
          <use href="/img/svg/head-svg.svg#cross"></use>
        </svg>

        <div class="header_body_mode">
          <span>light/dart</span>
          <span class="toggle-mode-button header__btn"></span>
        </div>

        

        <ul class="header-list">
          <li class="header-list__element"><a href="index.html" class="header-list__link">Home</a></li>
          <li class="header-list__element"><a href="about.html" class="header-list__link">About</a></li>
          <li class="header-list__element"><a href="tech-task.html" class="header-list__link">Tech Stack</a></li>
          <li class="header-list__element"><a href="projects-task.html" class="header-list__link">Projects</a></li>
          <li class="header-list__element"><a href="contact.html" class="header-list__link">Contact</a></li>
        </ul>
      
        <ul class="header-svg">
          <li class="header-svg__item">
            <a href="https://github.com/IvanLabza" target="_blank">
              <svg class="header-svg-icon" width="30" height="30">
                <use href="/img/svg/head-svg.svg#git"></use>
              </svg>
            </a>
          </li>
          <li class="header-svg__item">
            <a href="https://twitter.com/LabzaIvan" target="_blank">
              <svg class="header-svg-icon" width="30" height="30">
                <use href="/img/svg/head-svg.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="header-svg__item">
            <a href="https://www.linkedin.com/in/labzaivan-87460825b/" target="_blank">
              <svg class="header-svg-icon" width="30" height="30">
                <use href="/img/svg/head-svg.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>