<section class="steack element">
    <div class="container">
        <h2 class="steack-title">My Tech Stack</h2>
        <h3 class="steack-subtitle">Technologies I’ve been working with recently</h3>
        <ul class="steack-list">
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#vscode-icons_file-type-html"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#vscode-icons_file-type-css"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#vscode-icons_file-type-js-official"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#logos_react"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#Vector-6"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#logos_bootstrap"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#vscode-icons_file-type-tailwind"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#logos_sass"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#logos_git-icon"></use>
                    </svg>
                </a>
            </li>
            <!-- <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#cib_greensock"></use>
                    </svg>
                </a>
            </li> -->
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#vscode-icons_file-type-vscode"></use>
                    </svg>
                </a>
            </li>
            <li class="steack-list__element">
                <a href="">
                    <svg class="steack-list__svg">
                        <use href="/img/svg/stack-svg.svg#Vector-5"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>