<section class="about element">
    <div class="container">
        <h1 class="about-title">About Me</h1>
        <p class="about-text">I am a Junior Front End developer. I focus on
        HTML5, CSS3, JS. Development, practice and
        work for the result are important for me. I am
        skillful in analyzing problems and thinking of
        solutions to accurately troubleshoot and solve
        technical problems.
</p>
        <h2 class="about-subtitle">Work Experience</h2>
        <!-- <ul class="about-list">
            <li class="about-list-element">
                <div class="about-work-wrapper">
                    <h3 class="about-list__title"></h3>
                <span class="about-list__span"></span>
                </div>
                <div class="about-work__subwrapper">
                    <span class="about-work-firm"></span>
                    <span class="about-work-location"></span>
                    <span class="about-work-time"></span>
                </div>
            </li>
            <li class="about-list-element">
                <div class="about-work-wrapper">
                    <h3 class="about-list__title"></h3>
                <span class="about-list__span"></span>
                </div>
                <div class="about-work__subwrapper">
                    <span class="about-work-firm"></span>
                    <span class="about-work-location"></span>
                    <span class="about-work-time"></span>
                </div>
            </li>
            <li class="about-list-element">
                <div class="about-work-wrapper">
                    <h3 class="about-list__title"></h3>
                <span class="about-list__span"></span>
                </div>
                <div class="about-work__subwrapper">
                    <span class="about-work-firm"></span>
                    <span class="about-work-location"></span>
                    <span class="about-work-time"></span>
                </div>
            </li>
        </ul> -->
        <div class="work-wrapper">
            <p class="about-text">no commercial experience yet</p>
            <img src="/img/smille.png" width="55"
                height="40" alt="" class="about-img">

        </div>
        
        <h2 class="about-subtitle">Education</h2>
        <ul class="about-list">
            <li class="about-list-element">
                <div class="about-work-wrapper">
                    <h3 class="about-list__title">Full-stack developer</h3>
                    <span class="about-list__span">Full-time</span>
                </div>
                <div class="about-work__subwrapper">
                    <span class="about-work-firm">Go-it</span>
                    <span class="about-work-location"></span>
                    <span class="about-work-time">feb 2023 - ?</span>
                </div>
            </li>
            <li class="about-list-element">
                <div class="about-work-wrapper">
                    <h3 class="about-list__title">Front-end developer</h3>
                    <span class="about-list__span">Full-time</span>
                </div>
                <div class="about-work__subwrapper">
                    <span class="about-work-firm">Lemon-school</span>
                    <span class="about-work-location"></span>
                    <span class="about-work-time">cep 2023 - ?</span>
                </div>
            </li>
            <li class="about-list-element">
                <div class="about-work-wrapper">
                    <h3 class="about-list__title">Software Engineering</h3>
                    <span class="about-list__span">Full-time</span>
                </div>
                <div class="about-work__subwrapper">
                    <span class="about-work-firm">National Aerospace University named after. N. E. Zhukovsky "Kharkov Aviation Institute"</span>
                    <span class="about-work-location"></span>
                    <span class="about-work-time">cep 2020 - may 2024</span>
                </div>
            </li>
        </ul>
    </div>
</section>