.contact {
    padding: 75px 0;
    text-align: center;
}


.contact-title {
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 32px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.contact-list__item {
    display: flex;
    gap: 32px;

}

.contact-list-name {
    color: #666;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

}

.contact-list-link {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

}