<section class="contact element">
    <div class="container">
        <h1 class="contact-title">CONTACT</h1>
        <ul class="contact-list">
            <li class="contact-list__item">
                <span class="contact-list-name">TELEGRAM</span>
                <a href="https://t.me/IvanLabza77" class="contact-list-link">@IvanLabza</a>
            </li>
            <li class="contact-list__item">
                <span class="contact-list-name">MAIL</span>
                <a href="mailto:vanalabza77@gmail.com" class="contact-list-link">vanalabza77@gmail.com</a>
            </li>
            <li class="contact-list__item">
                <span class="contact-list-name">VIBER</span>
                <a href="" class="contact-list-link">+48889787471</a>
            </li>
            <li class="contact-list__item">
                <span class="contact-list-name">PHONE</span>
                <a href="tel:+380992489705" class="contact-list-link">+380993489705</a>
            </li>
        </ul>
    </div>
</section>