<section class="video">
  <div class="container video-container">
    <div class="video-textcon">
      <h2 class="video-title">Let's hear about Kayla's success story</h2>
      <p class="video-text">
        See how well Alivio works in a real customer’s life.
      </p>
      <a href="" class="video-link">Let’s get started</a>
    </div>

      <iframe
        width="956"
        height="538"
        class="video-img"
      id="my_video_1"
      class="video-js vjs-default-skin"
      controls
      preload="none"
      poster="./img/video-img.png"
        src="https://www.youtube.com/embed/maPRR_jjyOE"
        title="JavaScript для начинающих 2023. Полный курс за 6 часов. Уроки. Теория + практика"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
  </div>
</section>
