@import url(./reset.css);
@import url(./head.css);
@import url(./hero.css);
@import url(./worck.css);
@import url(./footer.css);
@import url(./video.css);
@import url(./product.css);

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;
}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}

:root {
  --curent-color-text: #424242;
  --title-color: #01996d;
  --sub-text: #424242;

  --Solid-Heading: #42446e;
  --Gradient-Heading: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  --dark-content: #666;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
