@media screen and (min-width:768px){
    .ftr {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    
        .container {}
    
        .ftr-wrapper {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            
        }
    
        .ftr-link__logo {}
    
        .ftr-addres {}
    
        .ftr-link__tel {}
    
        .ftr-link-mail {}
    
        .ftr-list {}
    
        .ftr-list-element {}
    
        .ftr-list-svg {}
    
        .ftr-span {}
    
        .ftr-nav {}
    
        .ftr-nav__list {
            display: flex;
            justify-content: center;
            gap: 52px;
            margin-bottom: 24px;
        }
    
        .ftr-nav__item {}
    
        .ftr-nav-link {}
    
        .ftr-link-design {}
    
}